[submodule "happyx"]
	path = happyx
	shallow = true
	branch = master
	url = https://github.com/HapticX/happyx.git

[submodule "vvdec"]
	path = vvdec
	shallow = true
	branch = master
	url = https://github.com/fraunhoferhhi/vvdec.git

[submodule "winterjs"]
	path = winterjs
	shallow = true
	branch = main
	url = https://github.com/wasmerio/winterjs.git

[submodule "restfox"]
	path = Restfox
	shallow = true
	branch = main
	url = https://github.com/flawiddsouza/Restfox.git
